.dashboard-container {
  margin-top:15px;
}
.dashboard-container h2 {
  color: #2575fc;
}

.table-responsive {
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
}

.table tbody tr:hover {
  background-color: rgba(37, 117, 252, 0.1);
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table td,
.table th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tbody tr:nth-child(odd){
  background-color: aqua;
}
